framework: auto-detect
source https://www.nuget.org/api/v2

nuget GraphQL ~> 0.17
nuget DataLoader ~> 0.2
nuget Suave
nuget Expecto
nuget Humanizer.Core ~> 2.2
nuget FSharp.Data ~> 2.3
nuget FSharp.Core ~> 4.2

source http://nuget.codis.co.uk/nuget

nuget Interop.SageDataObject ~> 21.0